[*]
charset = utf-8
indent_size = unset
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[*.yml]
indent_size = 2

[*.{kt,kts}]
ktlint_standard_annotation = disabled
ktlint_standard_no-empty-first-line-in-class-body = disabled
ktlint_standard_blank-line-before-declaration = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_string-template-indent = disabled
ktlint_standard_spacing-between-declarations-with-annotations = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_class-signature = disabled
