[*]
charset = utf-8
indent_size = unset
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[*.yml]
indent_size = 2

[*.{kt,kts}]
disabled_rules=filename,import-ordering
